*.idea
*.iml
*.class
target/
.DS_Store

*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

.metadata
bin/
tmp/
*.tmp
*.bak

salt/

.classpath
.project
.settings/

log*
temp-logs.txt
words-logs.txt

test.db
data.txt
output.txt

hs_err_pid*
